# ignore all logs
.log

# Push only "Documentation/", "HBC-2_IDE" and "Logisim"
Rom dump/
Youtube/
Blog/
Documentation/doxygen_working_dir
Documentation/Logisim
Documentation/Code Doc
Documentation/Files sources
Logisim/

# ignore code line counter script
codeLinesNumbers.sh

# ignore files from "HBC-2_IDE"
HBC-2_IDE/mainwindow.ui

# ignore build directories from "HBC-2_IDE"
HBC-2_IDE/build-HBC-2_IDE-Desktop-Debug
HBC-2_IDE/build-HBC-2_IDE-Desktop-MinSizeRel
HBC-2_IDE/build-HBC-2_IDE-Desktop-Profile
HBC-2_IDE/build-HBC-2_IDE-Desktop-Release
HBC-2_IDE/build-HBC-2_IDE-Desktop-RelWithDebInfo